body {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    
 }

 header {
    background-color: ghostwhite;
    display: flex;
    flex-direction: row;
 height: 15vh;




 }
 main{
    background-color: deeppink;
    height:100vh;
  
 }

 
 form {
   
    width: 40%;
    height: 50vh;
    position: relative;
    top: 16vh;
    left: 57vw;
    font-size: 20px;
    background-color: gainsboro;
    border-radius:30px 20px 30px 20px;
    border: 2px solid black;

    
  
    
 }
 #pato {
    height: 7vh;
    width: 3vw; 
   
    position: relative;
    top: 2vh;
    left: 1vw;

 }
 h1 {
    font-size:40px;
    padding: 0;
   margin-top: 0%;

   position: relative;
   top: 2vh;
   left: 2vw;
 }
 a {
  color: black;
  position: relative;
  top: 5vh;
  left: 64vw;
 }

 .box10 {
   height: 90vh;
   width: 100vw;
   background-color: rgba(220, 220, 220, 0.482);
 justify-content: space-between;
   display: flex;
   
}
.sobre{
position: relative;
top: 10vh;
   list-style-type: none;
   height: 60vh;
}
.texto10{
   list-style-type: none;
   line-height: 2;
}
.atendi {
   position: relative;
   left: 2vw;
   top: -2vh;
}
