body{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    height: 100%;
    width: 100%;
 
}   
header {
    justify-content: flex-start;
}
.comeco {
    display: flex;
    justify-content: space-around;
    margin: 0%;
    position: relative;
    top: 3vh;

   
}
.comeca {
    display: flex;
    
    position: relative;
    top: 4vh;
  
}
#name {
    position: relative;
    left: -7vw;



}
#imagem {
    width: 7vh;
    height: 7vh;
    position: relative;
    left: -4vh;
  
}
#pesquisa {
    height: 7vh;
    width: 30vw;
    position: relative;
    top: 1vh;
    left: -11vw;
  

}
.btn{
 position: relative;
 left: -16vw;
 height: 7vh;
 top: 1vh;

}
#comecou4 {
    position: relative;
    left: 4vw;
    text-decoration: none;
    color: black;
}
#comecou3 {
    position: relative;
    left: 3vw;
    text-decoration: none;
    color:black ;
}
#comecou2 {
    position: relative;
    left: 2vw;
    text-decoration:none ;
    color: black;
}
#comecou1 {
    width: 3vh;
    height: 3vh;
    padding: 4px;
   
    text-decoration:none ;
    background-color: deeppink;
    color: black;
    border: 1px solid black;
    border-radius: 10px 10px;
   text-align: center;
   font-size: 3vh;

}
#comecou5 {
    position: relative;
    top: 2vh;
    left: -4vw;
    color: black;
}
#comecou6 {
    width: 5px;
    height: 5px;
    position: relative;
    top: 2vh;
    left: -2vw;
    color: black;
    text-decoration: none;
    background-color: deeppink;
    width: 5vw;
    height: 5vh;
    border: 2px solid black;
    font-size: 3vh;
    border-radius: 40px 40px ;
    padding: 6px;
}
.box {
    background-color: gainsboro;
    height: 80vh;
    width: 100vw;
    position: relative;
    top: 3vh;
}
h2 {
    max-width: 35vw;
    font-size: 15vh;
    text-align:center;
    position: relative;
    top: 24vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#person {
    text-shadow: 1px 1px 1px deeppink ;
    position: relative;
    top: -18vh;
    left: 2vw;
    font-size: 4vh;

}
#video {
    height: 80vh;
    width: 45vw;
    position: relative;
    left: 50vw;
    top: -43vh;
}

.box3 {
    height: 50%;
    width: 100vw;
   
    background-color: ghostwhite;
    
}
.caixa {
    height: 60%;
    width: 30%;
    position: relative;
    top: 10vh;
    left: 14vw;

   

}
#imagem1 {
    height: 23vh;
    width: 13vw;
    position: relative;
    left: 4vw;
    top: -47%;
    
}
#imagem2,#imagem3 {
    max-height: 80%; 
}
#imagem2,#imagem3 {
 position: relative;
 left: 27%;
 top: 20%;

}


#desconto {
position: relative;
top: 10%;
left: -6vw;
border-radius: 50%;
border: 2px solid;
padding: 5px;
background-color: green;
width: 20;
display: inline-block;

}

#desconto1,#desconto2 {
 position: relative;
 top: -90%;
 left: -30%;
 border-radius: 50%;
 border: 2px solid;
 padding: 5px;

background-color: green;
display: inline-block;
}



#name2 {
 
    position: relative;
    top: 4vh;
    left: -2vw;
    max-width: 80%;
   
    

}

#name3 {
 position: relative;
 top: -10vh;
 left: -3vw;

}

#name4 {
    position: relative;
    top: -10vh;
    left: -3vw;
    
}
.estilo {
   height: 50vh;
   width: 70vw;
}
#caixa1 {
 position: relative;
 left: 16vw;
 top: 4%;

}

#caixa2 {
    position: relative;
    left: 18vw;
}

#caixa3 {
    position: relative;
    left: 20vw;
}



.box2 {
    width: 100%;
    height: 60%;
    background-color: ghostwhite;

}
.ofertas {
    height: 30%;
    display: flex;
    position: relative;
    top: 10%;
    overflow: hidden;
    position: relative;
    top: 25%;
   

}
#colecao 
{
    text-align: center;
    position: relative;
    top: 10vh;
}

.roupa {
    display: flex;
    font-size: 23px;
    position:relative;
    top: 20vh;
    

}

#colecao1 {
  position:relative ;
  left: 24%;
  
}

#colecao2 {
    position:relative ;
    left: 34%;
}

#colecao3 {
    position:relative ;
    left: 42%;
}

#colecao4 {
    position:relative ;
    left: 49%;
}




  
.oferta {
    width: 10%;
    border-radius: 50%;
    border: 1px solid black;
  
}
#oferta1{
position: relative;
left: 22%;
}

#oferta2{
    position: relative;
    left: 27%;

}

#oferta3 {
    position: relative;
    left: 32%;
}

#oferta4{
    position: relative;
    left: 37%;
}


main {

height: 100vh;
width: 100vw;
background-color: gainsboro;

}


section {
background-color: gainsboro;
justify-content: space-around;


}
.espaco {
    width: 100%;
    height: 100%;
    
}

.cartao {
    justify-content: space-around;
    display: flex;
        position: relative;
    top: 5vh;
flex-wrap: wrap;
background-color: gainsboro;

}
#butto {
   position: relative;
   left: 6vw;
}
.card-title {
    text-align: center;
}

.balao1 {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 20vh;
    background-color: gainsboro;
 
}
.card {
  border: 2px solid black;
}
#click {
    position: relative;
    left: 6vw;
}
.card-text {
    align-items: baseline;
    font-size: 20px;
  color:rgb(243, 100, 48)
  
  
}